@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
        font-family: "ketchum";
        src: url("./font/ketchum/Ketchum.otf");
};
@font-face{
        font-family: "unown";
        src: url("./font/unown.ttf");
};
@font-face{
        font-family: "pokemon" ;
        src: url("./font/pokemon.ttf");
};
@font-face{
        font-family: "pokemonXY";
        src: url("./font/pokemonXY.ttf");
};